<div id="<%= dom_id grade %>">
  <p>
    <strong>Value:</strong>
    <%= grade.value %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= grade.effective_date %>
  </p>

  <p>
    <strong>Examination:</strong>
    <%= grade.examination_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
  </p>

</div>
