<div id="<%= dom_id classroom %>">
  <p>
    <strong>Uid:</strong>
    <%= classroom.uid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= classroom.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= classroom.room_id %>
  </p>

  <p>
    <strong>Master:</strong>
    <%= classroom.master_id %>
  </p>

</div>
