<div id="<%= dom_id classroom %>">
  <p>
    <strong>Name:</strong>
    <%= classroom.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= classroom.room ? classroom.room.name : 'Not assigned' %>
  </p>

  <p>
    <strong>Master Teacher:</strong>
    <%= classroom.master ? classroom.master.full_name : 'Not assigned' %>
  </p>

  <div class="mt-2">
    <%= link_to "Show details", classroom_path(classroom), class: "text-blue-600 hover:text-blue-800" %>
  </div>
</div>
