<div id="<%= dom_id person %>">
  <p>
    <strong>Username:</strong>
    <%= person.username %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= person.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= person.firstname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= person.address_id %>
  </p>

  <p>
    <strong>Person status:</strong>
    <%= person.person_status_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= person.type %>
  </p>

</div>
