<div id="<%= dom_id student %>">
  <p>
    <strong>Username:</strong>
    <%= student.username %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= student.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= student.firstname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address_id %>
  </p>

  <p>
    <strong>Person status:</strong>
    <%= student.person_status_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= student.type %>
  </p>

</div>
