<div id="<%= dom_id teacher %>">
  <p>
    <strong>Username:</strong>
    <%= teacher.username %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= teacher.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= teacher.firstname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= teacher.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= teacher.address_id %>
  </p>

  <p>
    <strong>Person status:</strong>
    <%= teacher.person_status_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= teacher.type %>
  </p>

  <p>
    <strong>Iban:</strong>
    <%= teacher.iban %>
  </p>

</div>
