<div id="<%= dom_id course %>">
  <p>
    <strong>Term:</strong>
    <%= course.term %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= course.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= course.end_at %>
  </p>

  <p>
    <strong>Week day:</strong>
    <%= course.week_day %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= course.classroom_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject_id %>
  </p>

</div>
