<div id="<%= dom_id dean %>">
  <p>
    <strong>Username:</strong>
    <%= dean.username %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= dean.lastname %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= dean.firstname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= dean.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= dean.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= dean.address_id %>
  </p>

  <p>
    <strong>Person status:</strong>
    <%= dean.person_status_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= dean.type %>
  </p>

  <p>
    <strong>Iban:</strong>
    <%= dean.iban %>
  </p>

</div>
